.newsletter
  .container

    .newsletter__item
      .newsletter__box
        .newsletter__title BĄDŹ NA BIEŻĄCO
        .newsletter__text Zapisz się do newslettera i bądź na bieżąco z nowościami i specialnymi ofertami MixMann.

      .newsletter__box
        .newsletter__top
          input.newsletter__input(placeholder="Adres e-mail")
          button.newsletter__btn(type="submit") WYŚLIJ ZGŁOSZENIE
        .newsletter__bot
          input.newsletter__check(type="checkbox")
          .newsletter__small Wyrażam zgodę na przetwarzanie moich danych osobowych w celach marketingowych.
