.newsletter
  .container

    .newsletter__item
      .newsletter__box
        .newsletter__title BĄDŹ NA BIEZĄCO
        .newsletter__text Zapisz sie do newslettera i badz na biezaco z nowosciami i specialnymi ofertami MixMann.

      .newsletter__box
        .newsletter__top
          input.newsletter__input(placeholder="Adres e-mail")
          button.newsletter__btn(type="submit") WYŚLIJ ZGŁOSZENIE
        .newsletter__bot
          input.newsletter__check(type="checkbox")
          .newsletter__small Wyrazam zgode na przetwarzanie moich danych osobowych w celach marketingowych.
