.break
  img.break__img(src="../components/break/src/break.jpg" alt="break")
  .container
  .break__content
    .break__text Zaufali nam między innymi:
    .break__bold Dromont, Chameleon, Merris, Labman