.break
  img.break__img(src="../components/break/src/break.jpg" alt="break")
  .container
  .break__content
    .break__text Na terenie pOlski reprezentujemy wysokiej klasy <br> producentów maszyn i systemów:
    .break__bold Dromont, Chameleon, Merris, Labman