.break
  img.break__img(src="../components/break/src/break.jpg" alt="break")
  .container
  .break__content.-long
    .break__text Na terenie Polski reprezentujemy wysokiej klasy <br> producentów maszyn i systemów:
    .break__bold Dromont, Chameleon, Merris, Labman