.offerItem
  .offerItem__box
    .offerItem__title.-margin SYSTEMY LABORATORYJNE
    a.offerItem__btn(href="#") ZOBACZ PRODUKTY

  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item2.jpg" alt="item1")
