.offerItem
  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item1.jpg" alt="item1")

  .offerItem__box
    .offerItem__title MASZYNY UZYWANE I SKUP
    .offerItem__content
      .offerItem__text Posiadamy szeroka ogerte maszyn uzywanych roznych producentow. Napisz do nasz lub zadzwon: <b>+ 48 509 297 994</b> Dopasujemy dla Ciebie optymalna oferte dostosowana do Twojego budzetu i potrzeb Twojego biznesu. Prowadzimy tez skup maszyn uzywanych.