.offerItem
  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item1.jpg" alt="item1")

  .offerItem__box
    .offerItem__title MASZYNY UŻYWANE I SKUP
    .offerItem__content
      .offerItem__text Posiadamy szeroką ogertę maszyn używanych różnych producentów. Napisz do nasz lub zadzwoń: <b>+ 48 509 297 994</b> Dopasujemy dla Ciebie optymalną ofertę dostosowaną do Twojego budżetu i potrzeb Twojego biznesu. Prowadzimy też skup maszyn używanych.