.offerItem
  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item1.jpg" alt="item1")

  .offerItem__box
    .offerItem__title.-margin MIESZALNIKI DO FARB I TYNKÓW
    a.offerItem__btn(href="#") ZOBACZ PRODUKTY