.offerItem
  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item1.jpg" alt="item1")

  .offerItem__box
    .offerItem__title MIESZALNIKI DO FARB I TYNKOW
    .offerItem__text Oferta mieszalnikow obejmuje szeroka game wysokiej jakosci nowych i uzywanych urzadzen do kolorowania i mieszania - od automatow dozujacych po dozowniki reczne, miksery i wytrzasarki.  Masz szanse wybrac optymalna opcje dla swojego biznesu i budzetu. Oprocz tego, dostajesz od nas dodatkowa korzysc - przystepna oferte przegladow i serwisow. Dobrze wybrany mieszalnik do farb i tynow gwarantuje plynnosc funkcjonowania.
    a.offerItem__btn(href="#") #{btn}