.offerItem
  .offerItem__box
    img.offerItem__img(src="../components/offerItem/src/item1.jpg" alt="item1")

  .offerItem__box
    .offerItem__title MIESZALNIKI DO FARB I TYNKÓW
    .offerItem__text Oferta mieszalników obejmuje szeroką gamę wysokiej jakości nowych i używanych urządzeń do kolorowania i mieszania - od automatów dozujących po dozowniki ręczne, miksery i wytrząsarki.  Masz szansę wybrać optymalną opcję dla swojego biznesu i budżetu. Oprócz tego, dostajesz od nas dodatkową korzyść - przystępną ofertę przeglądów i serwisów. Dobrze wybrany mieszalnik do farb i tynów gwarantuje płynność funkcjonowania.
    a.offerItem__btn(href="#") #{btn}