.service
  .container
    .service__title Serwis

    .service__box
      .service__bold Rzetelny, szybki i niedrogi serwis to nasza duma.
      .service__text Dzięki korzystnej lokalizacji baz serwisowych dotrzemy do Ciebie w czasie krótszym niż 72 godziny od zgłoszenia, co pozwala Tobie  minimalizować straty wynikłe z przestoju maszyny
      .service__text Jesteśmy specjalistami z wieloletnim doświadczeniem w branży maszyn mieszających i dozujących, dlatego świadczymy kompleksowe usługi serwisowe większości maszyn spotykanych na rynku. Posiadamy stosowne  certyfikaty szkoleniowe na naprawy i regulacje. I, co równie ważne, jesteśmy przestępni cenowo! Dlatego ciągle  się rozwijamy

    .service__box
      img.service__img(src="../components/service/src/service.jpg" alt="service")