.service
  .container
    .service__title Serwis

    .service__box
      .service__bold Rzetelny, szybki i niedrogi serwis to nasza duma.
      .service__text Dzieki korzystnej lokalizacji baz serwisowych dotrzemy do Ciebie w czasie krótszym niz 72 godziny od zgłoszenia, co pozwala Tobie  minimalizować straty wynikłe z przestoju maszyny
      .service__text Jestesmy specjalistami z wieloletnim doswiadczeniem w branzy maszyn mieszajacych i dozujacych, dlatego swiadczymy kompleksowe uslugi serwisowe wiekszosci maszyn spotykanych na rynku. Posiadamy stosowne  certyfikaty szkoleniowe na naprawy i regulacje. I, co rownie wazne, jestesmy przestepni cenowo! Dlatego ciagle  sie rozwijamy

    .service__box
      img.service__img(src="../components/service/src/service.jpg" alt="service")