.form
  .container
    .form__title Skontaktuj się z nami
    .form__subTitle Co możemy dla Ciebie zrobić? Napisz lub zadzwoń.

    .form__box
      .form__top
        input.form__input(placeholder="Imię*")
      .form__top
        input.form__input(placeholder="Adres e-mail*")
      .form__top
        input.form__input(placeholder="Temat Wiadomości*")
      textarea.form__area(placeholder="Wpisz swoją wiadomość")

    .form__box
      button.form__btn(type="submit") WYŚLIJ WIADOMOŚĆ
      .form__need *Pola obowiązkowe.
      .form__text Wypełnij pola powyżej i wyślij do nas wiadomośći, a skontaktujemy się z Tobą w ciągu dwóch dni roboczych.

    .form__box
      input.form__check(type="checkbox")
      .form___small Niniejszym wyrażam zgodę na przetwarzanie swoich danych osobowych  w celach marketingowych przez MIXMANN. zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tekst jednolity: Dz. U. 2002 r. Nr 101 poz. 926 z późn. zm.)
    .form__box
      input.form___check(type="checkbox")
      .form___small Niniejszym wyrażam zgodę na przetwarzanie swoich danych osobowych  w celach marketingowych przez MIXMANN. zgodnie z ustawą z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tekst jednolity: Dz. U. 2002 r. Nr 101 poz. 926 z późn. zm.)

    .form__box.-border
      .form__box.-half
        .form__bold Biuro:
        .form__item
          .form__leftText adres:
          .form__rightText Dzikowo 64A,
          .form__rightText 87-125 Osiek Nad Wisłą k/Torunia
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText fax:
          .form__rightText 56 306 70 00
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com
      .form__box.-halfRight
        .form__bold Serwis-Jacek Ulrych
        .form__item
          .form__leftText adres:
          .form__rightText Dzikowo 64A,
          .form__rightText 87-125 Osiek Nad Wisłą k/Torunia
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText fax:
          .form__rightText 56 306 70 00
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com

    .form__box.-border
      .form__box.-half
        .form__bold Administracja/Biuro -Monika Pieniążek:
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com
      .form__box.-halfRight
        .form__bold Zgłoszenia Serwisowe - Radosław Siemianowski
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com

    .form__box.-border
      .form__box.-half
        .form__bold Administracja/Biuro -Monika Pieniążek:
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com
      .form__box.-halfRight
        .form__bold Zgłoszenia Serwisowe - Radosław Siemianowski
        .form__item
          .form__leftText telefon:
          .form__rightText 56 306 7000, 56 306 7001
        .form__item
          .form__leftText e-mail:
          .form__rightText.-orange mixmann@mixmann.com