.top
  .container

    .top__box
      a.top__link(href="#") mixmann
      .top__orange &gt;
      a.top__link(href="#") mieszalniki do farb i tynków

    .top__box
      .top__title MIESZALNIKI DO FARB I TYNKÓW

    .top__box
      .top__text Oferta mieszalników obejmuje szeroką gamę wysokiej jakości nowych i używanych urządzeń do kolorowania i mieszania - od automatów dozujących po dozowniki ręczne, miksery i wytrząsarki.  Masz szansę wybrać optymalną opcję dla swojego biznesu i budżetu. Oprócz tego, dostajesz od nas dodatkową korzyść - przystępną ofertę przeglądów i serwisów. Dobrze wybrany mieszalnik do farb i tynów gwarantuje płynność funkcjonowania.