.baner

  .baner__item
    img.baner__img(src="components/baner/src/baner.png" alt="banner")

    .baner__content BO ŚWIAT MA WIELE KOLORÓW
    a.baner__btn(href="#")
      img.baner__img(src="components/baner/src/mouse.png" alt="mouse")