.lang
  a.lang__link(href="#")
    img.lang__img(src="../components/lang/src/pl.png" alt="pl")
  a.lang__link(href="#")
    img.lang__img.-gray(src="../components/lang/src/gb.png" alt="gb")
  a.lang__link(href="#")
    img.lang__img(src="../components/lang/src/uc.png" alt="uc")