extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner-small
  .page
    include ../components/product/_product
  .news
    include ../components/newsletter/_newsletter
  .formas
    include ../components/form/_form
