extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner-small
  .text
    include ../components/top/_top
  .list
    include ../components/offer/_offer-list

  .news
    include ../components/newsletter/_newsletter
  .formas
    include ../components/form/_form
