extends _layout.pug

block content
  .header
    include ../components/menu/_menu
  .baner
    include ../components/baner/_baner
  .aboutUs
    include ../components/about/_about
  .smallBaner
    include ../components/break/_break
  .productOffer
    include ../components/offer/_offer
  .smallBaner
    include ../components/break/_break-long
  .serwis
    include ../components/service/_service
  .news
    include ../components/newsletter/_newsletter
  .formas
    include ../components/form/_form
