.footer
  .container
    .footer__top
      a.footer__logo(href="#") MIXMANN, Copyright 2016 &copy;
      a.footer__item(href="main.html") O nas
      a.footer__item(href="family.html") Mieszalniki do farb i tynków
      a.footer__item(href="offer.html") Systemy produkcyjne
      a.footer__item(href="main.html") Systemy laboratoryjne
      a.footer__item(href="main.html") Systemy laboratoryjne
      a.footer__item(href="main.html") Serwis
      a.footer__item(href="main.html") Kontakt


