-var btn = "ZOBACZ OFERTĘ";

.offer
  .container
    .offer__title Oferta

    .offer__item
      include ../offerItem/_offerItem-left
    .offer__item
      include ../offerItem/_offerItem-right
    .offer__item
      include ../offerItem/_offerItem-left
    .offer__item
      include ../offerItem/_offerItem-right