.offer
  .container
    .offer__title Oferta

    .offer__item
      include ../offerItem/_offerItem-left-noText
    .offer__item
      include ../offerItem/_offerItem-right-noText
    .offer__item
      include ../offerItem/_offerItem-left-noText
    .offer__item
      include ../offerItem/_offerItem-right-noText
    .offer__item
      include ../offerItem/_offerItem-text