-var btn = "ZAPYTAJ O PRODUKT";

.product
  .container

    .product__box
      a.product__link(href="#") mixmann
      .product__orange &gt;
      a.product__link(href="#") mieszalniki do farb i tynków
      .product__orange &gt;
      a.product__link(href="#") automaty dozujące Dromont
      .product__orange &gt;
      a.product__link(href="#") Prima

    .product__item
      include ../offerItem/_offerItem-left

    .product__box
      .product__box.-half
        .product__title Ogólne parametry
        .product__list minimalna dozowana objetosc: 0.077 cm3.
        .product__list dokladnosc: +/- 1%,
        .product__list wydajnosc: 0.5 l/min,
        .product__list automatycznie podnoszona polka srodkowa,
        .product__list automatycznie zakrywana glowica (z nawilzaczem),
        .product__list dostepne sa 6-10-15-25 l kanistry wykonane z POM (kanistry ze stali nierdzewnej na zamowienie).

      .product__box.-halfR
        .product__right Opcje
        .product__listRight D-POS ( program zarządzający recepturami).
        .product__listRight program dozujący wagowo,
        .product__listRight waga elektroniczna,
        .product__listRight komputer PC, drukarka etykiet i modem.
