.about
  .container

    .about__title O nas

    .about__box
      .about__bold Precyzyjne urzadzenia mieszajace i dozujace
      .about__text Mixmann to stabilny dostawca sprawdzonych urzadzen do dozowania i mieszania  farb i tynkow oraz wszelkich  produktów plynnych i polplynnych.  Jestesmy polecani do procesow produkcji, w ktorych  liczy sie precyzja i powtarzalnosc dozowania  oraz mieszanie zarowno malych jak i duzych ilosci surowcow w celu uzyskania jednolitego produktu koncowego. Dodatkowo, nasi polscy i zagraniczni  klienci zyskuja  poczucie bezpieczenstwa   poprzez szybki i sprawny  serwis gwarancyjny i pogwarancyjny na terenie calego kraju i zagranica.
    .about__box
      .about__bold Precyzyjne urzadzenia mieszajace i dozujace
      .about__text Mixmann to stabilny dostawca sprawdzonych urzadzen do dozowania i mieszania  farb i tynkow oraz wszelkich  produktów plynnych i polplynnych.  Jestesmy polecani do procesow produkcji, w ktorych  liczy sie precyzja i powtarzalnosc dozowania  oraz mieszanie zarowno malych jak i duzych ilosci surowcow w celu uzyskania jednolitego produktu koncowego. Dodatkowo, nasi polscy i zagraniczni  klienci zyskuja  poczucie bezpieczenstwa   poprzez szybki i sprawny  serwis gwarancyjny i pogwarancyjny na terenie calego kraju i zagranica.