.menu
  .container



    a.menu__logo(href="main.html")
      include ../logo/_logo

    .menu__bars(type="button")
      i.fa.fa-bars(aria-hidden="true")

    .menu__nav
      .menu__navRight
        .nav__box
        a.menu__navItem(href="main.html") O NAS
        a.menu__navItem(href="family.html") OFERTA
        a.menu__navItem(href="offer.html") SERWIS
        a.menu__navItem(href="main.html") KONTAKT

      .menu__top
        include ../lang/_lang
